
.group-wrapper {
        background-color: #1e242a;
        height: 36px;
        left: 0;
        position: absolute;
        top: 1616px;
        width: 1441px;
    }
    .div {
    height: 16px;
    left: 31px;
    position: relative;
    top: 7px;
    width: 1320px;}