.fouter {
    height: 16px;
    left: 31px;
    position: relative;
    top: 7px;
    width: 1320px;
}
.group {
    background-color: #1e242a;
    height: 36px;
    left: 2px;
    position: absolute;
    top: 710px;
    width: 1441px;
}
