.header {

    background-image: url('../../../images/navbar.png');
    background-size: cover;
    /* This ensures the image covers the entire header */
    background-position: center;
    /* This centers the image */
    background-repeat: no-repeat;
    /* This prevents the image from repeating */
    padding: 50px;
}
@font-face {
    font-family: 'Aclonica';
    src: url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap') format('woff2'),
        url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 0cm;
    margin-left: 12cm;
    font-size: 25px;
    color: #333;
    color: #D78780;
    font-family: 'Aclonica', sans-serif;
}

.nav-item2 {
    margin-right: 0cm;
    margin-left: 5cm;
    font-size: 25px;
    color: #4936A9;
    font-family: 'Aclonica', sans-serif;
}

.nav-item2 :hover {
    color: #D78780;
    font-family: 'Aclonica', sans-serif;

}

.logout-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.logout-button:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;


}