body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.App {
    text-align: center;
}

.navbar {
    background-color: #bde4e8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.logout-button {
    background-color: #ff7b7b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    margin-top: 20px;
}

h1 {
    color: #8bc34a;
    font-size: 2rem;
}